In [205]:
import numpy as np
import pandas as pd
from sqlalchemy import create_engine
from opendp.measurements import make_randomized_response_bool
from database_credential import database, username, password

In [206]:
# columns to extract
cols = [
    "QUESTID2", # respondent identification
    "AGE3", # age
    "CATAG6", # age category (6 levels)
    "HEALTH", # health condition
    "IRWRKSTAT", # employment status
    "IREDUHIGHST2", # highest education category
    "EDUHIGHCAT", # education categories
    "SERVICE", # ever been in US armed forces
    "NEWRACE2", # race
    "IRSEX", # gender
    "IRPINC3", # total income range
    "PNRANYREC", # most recent any pain reliever use
    "PNRNMREC", # most recent pain reliever misuse
    "PNRNMLAS1", # last pain rlvr used not directed by dr pst 12 mos
    "PNRRSOTRS2", # rason used last pain rlv (not directed)
    "PNRRSMAIN", # main reason used last pain rlvr (not directed)
    "PNRNMLIF", # ever used pain reliever not directed by Dr.
    "PNRNMINIT", # past year initiate
    "CODRGUSE", # how covid affected drug use,
    "SUICTHNK", # thought of killing self past 12 months
    "SPDPSTYR" # past year serious psychological distress indicator
]

# import selected columns in dataset
df = pd.read_csv("NSDUH_2022.txt",  sep='\t', header=0, index_col=False, usecols=cols)

# output dataframe
df

,QUESTID2,AGE3,SERVICE,HEALTH,IRSEX,IREDUHIGHST2,CATAG6,NEWRACE2,EDUHIGHCAT,IRWRKSTAT,...,PNRANYREC,PNRNMLIF,PNRNMREC,PNRNMINIT,PNRNMLAS1,PNRRSOTRS2,PNRRSMAIN,SUICTHNK,SPDPSTYR,CODRGUSE
0,10000330,6,2,1,1,7,2,7,1,3,...,91,91,91,91,91,991,91,2,0.0,91
1,10000425,9,2,3,2,11,4,2,4,1,...,1,2,91,91,91,991,91,2,0.0,3
2,10002771,6,2,3,2,11,2,1,4,1,...,91,91,91,91,91,991,91,2,1.0,91
3,10005250,7,2,1,1,8,3,5,2,1,...,91,91,91,91,91,991,91,2,0.0,91
4,10005432,10,2,2,2,11,5,1,4,1,...,2,2,91,91,91,991,91,2,0.0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50505,46071114,9,2,1,1,11,4,1,4,1,...,2,2,91,91,91,991,91,2,0.0,93
50506,46071268,9,2,4,2,9,4,1,3,4,...,2,2,91,91,91,991,91,1,1.0,2
50507,46071830,8,2,2,2,9,3,7,3,4,...,2,1,3,93,93,993,93,1,1.0,2
50508,46072042,2,99,3,2,5,1,1,5,4,...,91,91,91,91,91,991,91,99,NaN,93
50509,46072724,10,2,2,2,11,5,1,4,1,...,2,2,91,91,91,991,91,2,0.0,93

In [207]:
# create table nsduh in postgres database
# url = str.format('postgresql://{0}:{1}@localhost:5432/{2}', username, password, database)
# engine = create_engine(url)
# df.to_sql('nsduh2', engine, )

In [208]:
# check for NA values
df.isna().sum()

QUESTID2            0
AGE3                0
SERVICE             0
HEALTH              0
IRSEX               0
IREDUHIGHST2        0
CATAG6              0
NEWRACE2            0
EDUHIGHCAT          0
IRWRKSTAT           0
IRPINC3             0
PNRANYREC           0
PNRNMLIF            0
PNRNMREC            0
PNRNMINIT           0
PNRNMLAS1           0
PNRRSOTRS2          0
PNRRSMAIN           0
SUICTHNK            0
SPDPSTYR        10294
CODRGUSE            0
dtype: int64

In [209]:
# replace all n/a, inf, -inf values with 0
cleaned_df = df.replace([np.nan, np.inf, -np.inf], 0)
cleaned_df.isna().sum()

QUESTID2        0
AGE3            0
SERVICE         0
HEALTH          0
IRSEX           0
IREDUHIGHST2    0
CATAG6          0
NEWRACE2        0
EDUHIGHCAT      0
IRWRKSTAT       0
IRPINC3         0
PNRANYREC       0
PNRNMLIF        0
PNRNMREC        0
PNRNMINIT       0
PNRNMLAS1       0
PNRRSOTRS2      0
PNRRSMAIN       0
SUICTHNK        0
SPDPSTYR        0
CODRGUSE        0
dtype: int64

In [210]:
# convert categorical values to boolean
cleaned_df['PNRNMINIT'] = df['PNRNMINIT'].apply(lambda x: True if x == 1 else False)

# output number of positive (true) responses
cleaned_df['PNRNMINIT'].sum()

298

In [211]:
# make df copy for dp
dp_df = cleaned_df.copy(deep=True)

# construct the measurement
rr_bool_meas = make_randomized_response_bool(prob=0.77)

# invoke the measurement on PNRNMINIT survey response to execute the randomized response algorithm
dp_df['PNRNMINIT'] = dp_df['PNRNMINIT'].apply(lambda x: rr_bool_meas(x))

# output number of positive (true) responses after randomized response
dp_df['PNRNMINIT'].sum()

11826

In [212]:
# check cleaned_df vs dp_df PNRNMINIT values
cleaned_df[["QUESTID2", "PNRNMINIT"]].head(100)

    QUESTID2  PNRNMINIT
0   10000330      False
1   10000425      False
2   10002771      False
3   10005250      False
4   10005432      False
..       ...        ...
95  10069826      False
96  10070277      False
97  10070762      False
98  10071196      False
99  10071368      False

[100 rows x 2 columns]

In [213]:
dp_df[["QUESTID2", "PNRNMINIT"]].head(100)

    QUESTID2  PNRNMINIT
0   10000330       True
1   10000425      False
2   10002771      False
3   10005250      False
4   10005432       True
..       ...        ...
95  10069826      False
96  10070277      False
97  10070762      False
98  10071196       True
99  10071368      False

[100 rows x 2 columns]

In [214]:
# create table nsduh_dp in postgres database
# dp_df.to_sql('nsduh_dp', engine, )